<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gs.realestate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealEstate"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.post.properties.PostAgricultureActivity"
            android:exported="false"
            android:theme="@style/Theme.RealEstate.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3Dh9p2T3Oghmdmdbbj7sQL50isgbefag" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RealEstate.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RealEstate.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.intro.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RealEstate.NoActionBar"></activity>
        <activity
            android:name=".ui.post.PostHighlightActivity"
            android:exported="true"
            android:label="@string/postaproperty"
            android:theme="@style/Theme.RealEstate.NoActionBar"></activity>
        <activity
            android:name=".ui.post.PostCategoryActivity"
            android:exported="true"
            android:label="@string/postaproperty"
            android:theme="@style/Theme.RealEstate.NoActionBar"></activity>
        <activity
            android:name=".ui.post.PostPropertyActivity"
            android:exported="true"
            android:label="@string/postaproperty"
            android:theme="@style/Theme.RealEstate.NoActionBar"></activity>
        <activity
            android:name=".ui.post.PostFlatActivity"
            android:exported="true"
            android:label="@string/postaproperty"
            android:theme="@style/Theme.RealEstate.NoActionBar"></activity>
        <activity
            android:name=".ui.post.OpenSpaceActivity"
            android:exported="true"
            android:label="@string/postaproperty"
            android:theme="@style/Theme.RealEstate.NoActionBar"></activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_yRQ1OAs9MTKyF3" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>